$gap-tiny: .05rem;
$gap-small: .1rem;
$gap-middle: .2rem;
$gap-large: .4rem;
$gap-giant: .8rem;

html,
body {
  font-size: 100px;
  height: 100%;
  font-family: 'Josefin Slab', BlinkMacSystemFont , "Segoe UI" , Roboto , "Segoe UI" , "Helvetica Neue", "PingFang SC", "Noto Sans" , "Noto Sans CJK SC" , "Microsoft YaHei", sans-serif;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input {
  font-family: 'Josefin Slab', BlinkMacSystemFont , "Segoe UI" , Roboto , "Segoe UI" , "Helvetica Neue", "PingFang SC", "Noto Sans" , "Noto Sans CJK SC" , "Microsoft YaHei", sans-serif;
}

@for $i from 0 through 5 {
  h#{$i + 1} { font-size: .3rem - ($i * .03); }
}

@mixin card {
  background: $white;
  border-radius: .05rem;
  box-shadow: 0 2px 10px 0 $shadow;
  transition: box-shadow .2s ease-in-out;
  padding: $gap-middle;
  &:hover {
    box-shadow: 0 10px 20px 0 $shadow;
  }
}