<!DOCTYPE html>
<html lang="zh_CN">
<head>

    <meta charset="UTF-8">

    <title>Geeku Projects</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="apple-touch-icon" href="geeku.svg" sizes="152x152">
    <link rel="apple-touch-icon" href="geeku.svg" sizes="120x120">
    <link rel="apple-touch-icon" href="geeku.svg" sizes="76x76">
    <link rel="apple-touch-icon" href="geeku.svg" sizes="60x60">

    <meta name="theme-color" content="#363d4c">

    <link rel="shortcut icon" href="geeku.svg" type="image/x-icon">
    <link href="//fonts.lug.ustc.edu.cn/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="project">
    <header>
        <a href="#" class="">
            <img src="geeku.svg" alt="logo">
        </a>
        <h1>Geeku Projects</h1>
    </header>
    <div class="content">
        <p>这是一个杂乱的项目库</p>
        <div class="search">
            <div class="cover">
                <div class="icon">
                    <svg viewBox="22 22 38 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M44.2532456,42.7586414 L44.6273756,43.1327714 L57.6172812,56.122677 L58,56.5053958 L57.2345625,57.2708333 L56.8518437,56.8881146 L43.861938,43.8982089 L43.5204738,43.5567447 C41.3446954,45.7233241 38.3443634,47.0625 35.03125,47.0625 C28.3865741,47.0625 23,41.6759259 23,35.03125 C23,28.3865741 28.3865741,23 35.03125,23 C41.6759259,23 47.0625,28.3865741 47.0625,35.03125 C47.0625,37.9730787 46.0066559,40.6683019 44.2532456,42.7586414 Z" id="Combined-Shape" stroke="#A3AFB6" stroke-width="2" stroke-linecap="square" fill="none"></path>
                    </svg>
                </div>
                <input type="text" id="s" placeholder="Search project" v-model="searchStr">
            </div>
        </div>
        <div class="list" v-for="(list, title) in lists" v-cloak>
            <h2>{{title}}</h2>
            <ul>
                <template v-for="item in list" :key="item[title]">
                    <transition name="fade">
                        <li v-show="listFilted[title].indexOf(item) >= 0">
                            <div class="cover">
                                <div class="pic"><img :src="item.logo || 'geeku.svg'" alt=""></div>
                                <div class="detail">
                                    <a :href="item.link" target="_blank" :title="item.title"><h3>{{item.title}}</h3></a>
                                    <p :title="item.description">{{item.description}}</p>
                                </div>
                            </div>
                        </li>
                    </transition>
                </template>

            </ul>
        </div>
    </div>
    <div class="copyright">
        <span><a href="https://geeku.net">Geeku</a></span>
        <span><a href="https://github.com/gongpeione">Github</a></span>
    </div>
</div>

<script src="//cdn.bootcss.com/vue/2.2.6/vue.min.js"></script>
<script>
    if (!window.fetch) {
    	document.write('<script src="\/\/cdn.bootcss.com\/fetch\/2.0.3\/fetch.min.js"><\/script>');
    }
</script>
<script src="main.js"></script>
</body>
</html>