@import "scss/normalize";
@import "scss/color";
@import "scss/layout";

body {
  background: $gray;
}
#project {
  font-size: .18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background: $white;
  text-align: center;
  padding: $gap-middle;

  h1 {
    display: none;
  }
  img {
    width: .5rem;
    height: auto;
  }
}
.content {
  padding: $gap-large;
  flex: 1;
  > p {
    color: $dark;
    text-align: center;
    padding-bottom: $gap-large;
    font-size: .2rem;
    margin: 0;
    font-weight: 300;
  }
  .search {
    max-width: 12rem;
    margin: 0 auto;
    padding: $gap-small;
    .cover {
      @include card;
      display: flex;
      align-items: center;
      padding-top: $gap-small;
      padding-bottom: $gap-small;
    }
    svg {
      width: .2rem;
      height: .2rem;
    }
    input {
      flex: 1;
      margin-left: $gap-middle;
      border: none;
      background: none;
      font-size: .2rem;
      font-weight: 300;
      color: $dark;
      outline: none;
    }
  }
  h2 {
    text-align: center;
    font-size: .16rem;
    font-weight: 300;
    margin: $gap-middle 0;
    padding: $gap-small;
    color: $dark;
    position: relative;
    &::after {
      content: '';
      width: .4rem;
      height: .01rem;
      background: $blue;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -.2rem;
    }
  }
  ul {
    list-style: none;
    max-width: 12rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
  }
  .detail{
    width: 75%;
  }
  li {
    display: inline-block;
    width: 33.33%;
    padding: $gap-small;
    .cover {
      display: flex;
      align-items: center;
      @include card;
    }
    img {
      width: .6rem;
      height: auto;
      margin-right: $gap-middle;
    }
    a {
      text-decoration: none;
      color: $black;
    }
    p {
      color: $dark;
      font-size: .14rem;
      font-weight: 200;
      margin: 0;
    }
    h3 {
      margin: 0;
      margin-bottom: $gap-small;
      font-weight: 300;
      font-size: .2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  @media (max-width: 900px) {
    li {
      width: 50%;
    }
  }
  @media (max-width: 600px) {
    li {
      width: 100%;
    }
    & {
      padding-left: $gap-tiny;
      padding-right: $gap-tiny;
    }
  }
}
.copyright {
  text-align: center;
  font-size: 0;
  padding: $gap-large;
  a {
    color: $dark;
    font-size: .14rem;
    text-decoration: none;
    font-weight: 300;
  }
  span {
    &:not(:last-child)::after {
      content: '/';
      margin: 0 $gap-tiny;
      font-size: .14rem;
      color: $dark
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(1);
}
.fade-enter, .fade-leave-active {
  transform: scale(0);
  opacity: 0;
}